---
- name: Destroy containers (loop)
  include_tasks: destroy-container.yml
  vars:
    container_name: "{{ item.key }}"
    container_config: "{{ item.value }}"
  with_dict: "{{ seed_containers }}"
