---
- name: Ensure OpenSM container is running
  docker_container:
    image: "{{ item.value.image }}"
    name: "{{ item.value.container_name }}"
    network_mode: "host"
    privileged: "{{ item.value.privileged | default(omit) }}"
    pull: "{{ action == 'upgrade' }}"
    read_only: "{{ item.value.read_only | default(omit) }}"
    restart_policy: "{{ opensm_restart_policy }}"
    restart_retries: "{{ opensm_restart_retries }}"
    state: "{{ 'started' if item.value.enabled | bool else 'absent' }}"
    volumes: "{{ item.value.volumes }}"
  with_dict: "{{ opensm_services }}"
