# {{ ansible_managed }}
# This is an openrc environment file for OpenStack user {{ item.1.name }} in
# project {{ item.0.name }}.
{% set projects_user_auth_overrides = {
  "project_domain_name": "{{ item.0.project_domain }}",
  "user_domain_name": "{{ item.0.user_domain }}",
  "project_name": "{{ item.0.name }}",
  "username": "{{ item.1.name }}",
  "password": "{{ item.1.password }}",
} %}
{% set projects_auth = projects_admin_auth | combine(projects_user_auth_overrides) %}
{% for name, value in projects_auth.items() %}
export OS_{{ name | upper }}={{ value }}
{% endfor %}
{% for name, value in projects_environment.items() %}
export {{ name }}={{ value }}
{% endfor %}
