# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=2.0 # Apache-2.0
# Ansible 2.3 has a bug (#30350) in the Dell network modules. Pull in a version
# with the fix backported. It can be installed by uncommenting the following
# line and commenting the one after.
# -e git+https://github.com/stackhpc/ansible@issue-30350-2.3#egg=ansible-issue-30350-2.3 # GPLv3
ansible>=2.4.0,<2.7.0 # GPLv3
cliff>=2.5.0,<2.15.0 # Apache
netaddr!=0.7.16,>=0.7.13 # BSD
# paramiko 2.5.0 makes the kayobe-tox-molecule job fail.
paramiko<2.5.0
PyYAML>=3.10.0 # MIT
setuptools!=24.0.0,!=34.0.0,!=34.0.1,!=34.0.2,!=34.0.3,!=34.1.0,!=34.1.1,!=34.2.0,!=34.3.0,!=34.3.1,>=16.0 # PSF/ZPL
