# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

ansible-lint>=3.0.0,!=4.3.0 # MIT
bashate>=0.2 # Apache-2.0
coverage>=4.0 # Apache-2.0
doc8 # Apache-2.0
docker # Apache-2.0
hacking>=0.12.0,<0.13 # Apache-2.0
mock # BSD
# sh 1.13.1 causes molecule yamllint to fail.
sh<1.13 # MIT
molecule<3;python_version<'3' # MIT
pytest<6 # MIT
oslotest>=1.10.0 # Apache-2.0
# paramiko 2.5.0 makes the kayobe-tox-molecule job fail.
paramiko
stestr<3 # Apache-2.0
yamllint # GPLv3
