---
dependency:
  name: galaxy
driver:
  name: docker
lint:
  name: yamllint
platforms:
  - name: centos-7
    image: centos:7
  - name: ubuntu-1604
    image: ubuntu:16.04
provisioner:
  name: ansible
  inventory:
    group_vars:
      all:
        kolla_extra_config_path:
        kolla_enable_ceph: True
        kolla_extra_ceph: |
          [extra-ceph.conf]
          foo=bar
        kolla_enable_cinder: True
        kolla_extra_cinder: |
          [extra-cinder.conf]
          foo=bar
        kolla_enable_designate: True
        kolla_extra_designate: |
          [extra-designate.conf]
          foo=bar
        kolla_enable_glance: True
        kolla_extra_glance: |
          [extra-glance.conf]
          foo=bar
        kolla_enable_grafana: True
        kolla_extra_grafana: |
          [extra-grafana.ini]
          foo=bar
        kolla_enable_heat: True
        kolla_extra_heat: |
          [extra-heat.conf]
          foo=bar
        kolla_enable_horizon: True
        kolla_enable_ironic: True
        kolla_extra_ironic: |
          [extra-ironic.conf]
          foo=bar
        kolla_extra_inspector: |
          [extra-ironic-inspector.conf]
          foo=bar
        kolla_inspector_ipa_kernel_path: ${MOLECULE_TEMP_PATH:-/tmp}/ironic-agent.kernel
        kolla_inspector_ipa_ramdisk_path: ${MOLECULE_TEMP_PATH:-/tmp}/ironic-agent.initramfs
        kolla_extra_ironic_dnsmasq: |
          extra=bar
        kolla_enable_kafka: True
        kolla_extra_kafka: |
          [extra-kafka.server.properties]
          foo=bar
        kolla_enable_magnum: True
        kolla_extra_magnum: |
          [extra-magnum.conf]
          foo=bar
        kolla_enable_manila: True
        kolla_enable_murano: True
        kolla_enable_monasca: True
        kolla_extra_murano: |
          [extra-murano.conf]
          foo=bar
        kolla_enable_neutron: True
        kolla_extra_neutron: |
          [extra-neutron.conf]
          foo=bar
        kolla_extra_neutron_ml2: |
          [extra-ml2_conf.ini]
          foo=bar
        kolla_enable_nova: True
        kolla_extra_nova: |
          [extra-nova.conf]
          foo=bar
        kolla_enable_sahara: True
        kolla_extra_sahara: |
          [extra-sahara.conf]
          foo=bar
        kolla_enable_swift: True
        kolla_enable_zookeeper: True
        kolla_extra_zookeeper: |
          [extra-zookeeper.cfg]
          foo=bar
  lint:
    name: ansible-lint
scenario:
  name: enable-everything
verifier:
  name: testinfra
  lint:
    name: flake8
