---
- import_role:
    name: ahuffman.resolv
  when: resolv_is_managed | bool
  become: True

- name: Remove netplan.io packages
  become: true
  package:
    name:
      - libnetplan0
      - netplan.io
    state: absent
  notify:
    - Remove netplan systemd-networkd configuration

- name: Configure systemd-networkd
  import_role:
    name: stackhpc.systemd_networkd
  vars:
    systemd_networkd_link: "{{ network_interfaces | networkd_links }}"
    systemd_networkd_netdev: "{{ network_interfaces | networkd_netdevs }}"
    systemd_networkd_network: "{{ network_interfaces | networkd_networks }}"
    systemd_networkd_apply_config: true
    systemd_networkd_enable_resolved: false
    systemd_networkd_symlink_resolv_conf: false
    systemd_networkd_cleanup: true
    systemd_networkd_cleanup_patterns:
      - "{{ networkd_prefix }}*"
