# {{ ansible_managed }}

[security]
; If an OpenStack user with the same name as the admin user logs into
; Grafana it overwrites user data in the Grafana database, breaking
; the local admin account, and preventing admin API calls to Grafana. To
; reduce the chance of this happening we rename the local admin user here.
; Note that this only affects the Monasca fork of Grafana.
;admin_user = admin
admin_user = {{ grafana_local_admin_user_name }}

{% if kolla_extra_grafana %}
#######################
# Extra configuration
#######################

{{ kolla_extra_grafana }}
{% endif %}
