# {{ ansible_managed }}

[DEFAULT]
enabled_drivers = {{ kolla_ironic_drivers | join(',') }}

[conductor]
{% raw %}
api_url = {{ internal_protocol }}://{{ hostvars[inventory_hostname]['ansible_' + provision_interface | replace('-', '_')]['ipv4']['address'] }}:{{ ironic_api_port }}
{% endraw %}

[agent]
deploy_logs_local_path = /var/log/kolla/ironic/deploy

[neutron]
cleaning_network = {{ kolla_ironic_cleaning_network }}
provisioning_network = {{ kolla_ironic_provisioning_network }}

[pxe]
{% raw %}
tftp_server = {{ hostvars[inventory_hostname]['ansible_' + provision_interface | replace('-', '_')]['ipv4']['address'] }}
{% endraw %}

{% if kolla_extra_ironic %}
#######################
# Extra configuration
#######################

{{ kolla_extra_ironic }}
{% endif %}
