---
# List of enabled Ironic drivers.
enabled_drivers: "{{ kolla_bifrost_enabled_drivers | join(',') }}"

# Whether to enable legacy PXE/iscsi drivers.
enable_pxe_drivers: {{ kolla_bifrost_enable_pxe_drivers | bool }}

# List of legacy PXE/iscsi drivers to enable.
pxe_drivers: "{{ kolla_bifrost_pxe_drivers | join(',') }}"

# IP address range for DHCP.
dhcp_pool_start: "{{ kolla_bifrost_dhcp_pool_start }}"
dhcp_pool_end: "{{ kolla_bifrost_dhcp_pool_end }}"

{% if kolla_bifrost_dnsmasq_router %}
# Default route provided to nodes via DHCP.
dnsmasq_router: "{{ kolla_bifrost_dnsmasq_router }}"
{% endif %}

{% if kolla_bifrost_dnsmasq_dns_servers %}
# DNS servers provided to nodes via DHCP.
dnsmasq_dns_servers: "{{ kolla_bifrost_dnsmasq_dns_servers | join(',') }}"
{% endif %}

{% if kolla_bifrost_domain %}
# DNS domain provided to nodes via DHCP.
domain: "{{ kolla_bifrost_domain }}"
{% endif %}

{% if kolla_bifrost_inspector_processing_hooks %}
# Comma-separated list of inspector processing plugins.
inspector_processing_hooks: "{{ kolla_bifrost_inspector_processing_hooks | join(',') }}"
{% endif %}

{% if kolla_bifrost_inspector_port_addition %}
# Which MAC addresses to add as ports during introspection. One of 'all',
# 'active' or 'pxe'.
inspector_port_addition: "{{ kolla_bifrost_inspector_port_addition }}"
{% endif %}

{% if kolla_bifrost_inspector_extra_kernel_options %}
# Extra kernel parameters for the inspector default PXE configuration.
inspector_extra_kernel_options: "{{ kolla_bifrost_inspector_extra_kernel_options | join(' ') }}"
{% endif %}

# Whether to download Ironic Python Agent (IPA) images.
download_ipa: "{{ kolla_bifrost_download_ipa }}"

{% if kolla_bifrost_ipa_kernel_upstream_url %}
# URL of Ironic Python Agent (IPA) kernel image.
ipa_kernel_upstream_url: "{{ kolla_bifrost_ipa_kernel_upstream_url }}"
{% endif %}

{% if kolla_bifrost_ipa_ramdisk_upstream_url %}
# URL of Ironic Python Agent (IPA) ramdisk image.
ipa_ramdisk_upstream_url: "{{ kolla_bifrost_ipa_ramdisk_upstream_url }}"
{% endif %}

{% if kolla_bifrost_extra_globals %}
###############################################################################
# Extra configuration

{{ kolla_bifrost_extra_globals|to_nice_yaml }}
{% endif %}
