{
  "storage-driver": "devicemapper",
{% if docker_daemon_mtu %}
  "mtu": {{ docker_daemon_mtu }},
{% endif %}
  "storage-opts": [
    "dm.thinpooldev=/dev/mapper/{{ docker_storage_volume_group | replace('-', '--') }}-{{ docker_storage_volume_thinpool | replace('-', '--') }}",
    "dm.use_deferred_removal=true",
    "dm.use_deferred_deletion=true"
  ]
}
