# {{ ansible_managed }}

{% for repo in apt_repositories %}
{% if reponame == repo.name | default('kayobe') %}
Types: {{ repo.types | default('deb') }}
URIs: {{ repo.url }}
Suites: {{ repo.suites | default(ansible_facts.distribution_release) }}
Components: {{ repo.components | default('main') }}
{% if repo.signed_by is defined %}
Signed-by: {% if not repo.signed_by.startswith('/') %}{{ apt_keys_path }}/{% endif %}{{ repo.signed_by }}
{% endif %}
{% if repo.architecture is defined %}
Architecture: {{ repo.architecture }}
{% endif %}
{% if repo.trusted is defined %}
Trusted: {{ repo.trusted | bool }}
{% endif %}

{% endif %}
{% endfor %}
