---
# Cloud-init searches for network configuration in order of
# increasing precedence; each item overriding the previous.
# In some cases cloud-init reconfigure automatically network interface
# and cause some issues in network configuration
- name: Disable Cloud-init service
  hosts: overcloud:infra-vms
  tags:
    - disable-cloud-init
  roles:
    - role: disable-cloud-init
      when: disable_cloud_init | bool
