---
- name: Ensure DNF repos are configured
  hosts: seed-hypervisor:seed:overcloud
  tags:
    - dnf
  tasks:
    - block:
        - import_role:
            name: dnf
        - import_role:
            name: dnf-automatic
          tags:
            - dnf-automatic
      when:
        - ansible_os_family == 'RedHat'
