---
- name: Ensure Kolla is installed and configured
  hosts: container-image-builders
  tags:
    - kolla-build
  roles:
    - role: kolla
      kolla_install_epel: "{{ dnf_install_epel }}"
    - role: kolla-build
      kolla_build_extra_config_path: "{{ kayobe_config_path }}/kolla/kolla-build.conf"
