---
- name: Ensure software RAID configuration is applied
  hosts: seed-hypervisor:seed:overcloud:infra-vms
  max_fail_percentage: >-
    {{ mdadm_max_fail_percentage |
       default(host_configure_max_fail_percentage) |
       default(kayobe_max_fail_percentage) |
       default(100) }}
  tags:
    - mdadm
  roles:
    - role: mrlesmithjr.mdadm
      become: True
      when:
        - mdadm_arrays is defined
        - mdadm_arrays | length > 0
