---
# Directory where Kolla config files will be installed.
kolla_build_config_path:

# Paths to extra kolla configuration files.
kolla_build_config_paths_default:
  - "{{ role_path }}/templates/"

# Paths to extra kolla configuration files.
kolla_build_config_paths_extra: []

# Paths to extra kolla configuration files.
kolla_build_config_paths: "{{ kolla_build_config_paths_default + kolla_build_config_paths_extra }}"

# Valid options are [ centos, fedora, oraclelinux, ubuntu ]
kolla_base_distro:

# Valid options are [ binary, source ]
kolla_install_type:

# Docker namespace to use for Kolla images.
kolla_docker_namespace:

# Valid option is Docker repository tag
kolla_tag:

# Dict mapping names of sources to their definitions for
# kolla_install_type=source. See kolla.common.config for details.
# Example:
# kolla_sources:
#   ironic-base:
#     type: git
#     location: https://github.com/openstack/ironic
#     reference: master
kolla_sources: {}

# Dict mapping Jinja2 block names in kolla's Docker images to their contents.
kolla_build_blocks: {}

# Dict mapping image customization variable names to their values.
# Each variable takes the form:
# <image name>_<customization>_<operation>
# Hyphens in the image name must be replaced with underscores. The
# customization is most commonly packages. The operation should be one of
# override, append or remove. The value should be a list.
kolla_build_customizations: {}

# Free-form extra configuration for kolla-build.
kolla_extra_build: {}
